/*Scrollbar*/
.thumb {
        -fx-background-color:derive(grey,50%);
       	-fx-background-insets: 2, 0, 0;
       	-fx-background-radius: 2em;
       }

.decrement-arrow, .increment-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}

.decrement-button, .increment-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

.thumb:hover {
    -fx-background-color: grey;
}


/*Tabs*/





/*MenuBar*/
.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: lightgrey;
     -fx-text-fill: black;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.menu:showing, .menu-item:hover, .menu:hover {
    -fx-background-color: grey;
}

.text-area {
    -fx-font-size: 15;
    -fx-text-fill: #f8f8f2;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #3c3f41;
}


