/*Scrollbar*/
.thumb {
        -fx-background-color:derive(grey,50%);
       	-fx-background-insets: 2, 0, 0;
       	-fx-background-radius: 2em;
       }

.decrement-arrow, .increment-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}

.decrement-button, .increment-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
}

.thumb:hover {
    -fx-background-color: grey;
}


/*Tabs*/


.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}

.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #9e9fa1;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}


/*MenuBar*/
.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: grey;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.menu:showing, .menu-item:hover, .menu:hover {
-fx-background-color: grey;
}

.text-area {
    -fx-font-size: 15;
    -fx-text-fill: #f8f8f2;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #3c3f41;
}


